#main{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: auto;
    margin: 0px 100px 0px 100px;
}
/*Stylisation du header photographe*/
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto;
}
#div-text-profil{
    order: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#div-text-profil h1{
    color: #D3573C;
    font-size: 64px;
    font-weight: 400;
    margin: 0;
    line-height: 55px;
}
#div-text-profil p:nth-child(2){
    color: #901c1c;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}
#div-text-profil p:nth-child(3){
    color: #525252;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}
.contact_button {
    order: 2;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
#div-img-profil{
    order: 3;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 100% ;
}
#div-img-profil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

/*Stylisation de la section gallery*/
#section-gallery{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 50px;
}
#section-gallery #div-select{
    display: flex;
    align-items: center;
    gap: 40px;
}
#section-gallery #div-select label{
    font-size: 18px;
    font-weight: 700;
    color: black;
}
#section-gallery #div-select #order-select{
    font-size: 18px;
    padding: 15px 20px 15px 20px;
    background-color: #901C1C;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
#section-gallery #div-select #order-select option{
    padding: 10px;
}
#gallery{
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
}
#gallery .div-one-gallery{
    display: flex;
    flex-direction: column;
    height: 351px;
    width: 350px;
    justify-content: space-between;
}
#gallery .div-one-gallery .button-media-one-gallery{
    position: relative;
    width: 350px;
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
    border:none;
    cursor: pointer;
}
#gallery .div-one-gallery .button-media-one-gallery img, #gallery .div-one-gallery .button-media-one-gallery video{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    width: 100%;
    object-fit: cover;
}
#gallery .div-one-gallery .div-text-one-gallery{
    display: flex;
    justify-content: space-between;
}
#gallery .div-one-gallery .div-text-one-gallery .p-title-one-gallery{
    color: #901C1C;
    font-size: 24px;
    margin: 0;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#gallery .div-one-gallery .div-text-one-gallery div{
    display: flex;
    gap: 5px;
    align-items: center;
}
#gallery .div-one-gallery .div-text-one-gallery div p{
    color: #901C1C;
    font-size: 24px;
    margin: 0;
    font-weight: 500;
}
#gallery .div-one-gallery .div-text-one-gallery div .div-icone-like{
    position: relative;
    display: flex;
}
#gallery .div-one-gallery .div-text-one-gallery div .div-icone-like .button_liked_element{
    position: absolute;
    left: 0;
    visibility: hidden;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
#gallery .div-one-gallery .div-text-one-gallery div .div-icone-like .button_no_liked_element{
    visibility: visible;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

/*Modal*/
#contact_modal {
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.479);
}
.modal {
    position: fixed ;
    left: 23%;
    top: 50px;
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    padding-top: 10px;
    margin: auto;
    box-shadow: 0px 0px 20px black;
}
.modal header {
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: auto;
}
.modal header #text-title-modal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.modal header #text-title-modal h2{
    font-size: 50px;
    font-weight: normal;
    margin: 0;
}
.modal header #text-title-modal h1{
    font-size: 45px;
    font-weight: normal;
    margin: 0;
    color: black;
}
.modal header img {
    cursor: pointer;
    margin-top: 20px;
}
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}
form label {
    color: #312E2E;
    font-size: 24px;
}
.formData[data-error]::after {
    content: attr(data-error);
    font-size: 12px;
    color: #63000a;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: left;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
    opacity: 1;
}
.formData[data-error-visible="true"] .text-control {
    border: 2px solid #ce0318;
}
form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}
form input {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
form div:nth-child(4) textarea{
height: 204px;
width: 100%;
border: none;
border-radius: 5px;
font-size: 20px;
padding-top: 10px;
}

/*Stylisation de l'affirmation du formulaire effectuer*/
#modal-validated{
    display: none;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.479);
}
#modal-validated .content-validated{
    position: fixed ;
    left: 23%;
    top: 50px;
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
    padding: 35px;
    padding-top: 10px;
    margin: auto;
    box-shadow: 0px 0px 20px black;
}
#modal-validated .content-validated .close-validated{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
#modal-validated .content-validated .modal-body-validated{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
#modal-validated .content-validated .modal-body-validated p{
    color: black;
    font-size: 35px;
    font-weight: bold;
}
#modal-validated .content-validated .modal-body-validated button{
    border: none;
    padding: 15px 30px 15px 30px;
    cursor: pointer;
    font-size: 25px;
    color: white;
    background-color: #901C1C;
    border-radius: 5px;
}

/*Stylisation de l'entête avec le nombre de like et le tarif journalier*/
#div-info-like-price{
position: fixed;
bottom: 0;
right: 50px;
display: flex;
align-items: center;
gap: 50px;
background-color: #DB8876;
padding: 15px 30px 15px 30px;
border-radius: 5px 5px 0px 0px;
}
#div-info-like-price div{
    display: flex;
    gap: 5px;
    align-items: center;
}
#div-info-like-price div img{
    color: black;
}
#div-info-like-price div p{
margin: 0;
font-size:  24px;
}
#div-info-like-price .p-price{
margin: 0;
font-size:  24px;
}

/*Gestion de la lightbox*/
.lightbox{
display: none;
position: fixed;
overflow: hidden;
top: 0;
left: 0;
background-color: rgba(255, 255, 255, 0.747);
flex-direction: row;
align-items: center;
justify-content: center;
gap: 50px;
height: 100%;
width: 100%;
}
#div_button_next_close{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 88%;
}
.button-close-lightbox{
    position: absolute;
    top: 0;
    cursor: pointer;
}
.lightbox-control{
    cursor: pointer;
}
.lightbox #lightbox-inner{
    overflow-x: hidden;
    display: flex;
    width: 45%;
    height: 100%;
}
.lightbox #lightbox-infos{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}
.lightbox #lightbox-infos .element-lightbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 85%;
    margin: auto;
    flex: 0 0 auto;
}

.lightbox #lightbox-infos .element-lightbox img , .lightbox #lightbox-infos .element-lightbox video{
    border-radius: 10px;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}
.lightbox #lightbox-infos .element-lightbox p{
color: #901C1C;
font-size: 24px;
margin: 5px 0px 5px 0px;
}